*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:'Poppins',sans-serif;
}

body{
  background:#050505;
  color:white;
  overflow-x:hidden;
}

.container{
  position:relative;
  z-index:2;
  max-width:420px;
  margin:auto;
  padding:20px;
}

.logo{
  text-align:center;
  font-size:32px;
  font-weight:700;
  margin-top:20px;
  background:linear-gradient(90deg,#00ffd5,#00aaff,#00ffd5);
  -webkit-background-clip:text;
  -webkit-text-fill-color:transparent;
}

.subtitle{
  text-align:center;
  color:#aaa;
  margin-top:8px;
  margin-bottom:30px;
}

.card{
  background:#111;
  border:1px solid #00ffd544;
  border-radius:25px;
  padding:20px;
  box-shadow:0 0 25px #00ffd522;
}

.label{
  margin-top:15px;
  margin-bottom:8px;
  font-size:14px;
  color:#ccc;
}

select,button{
  width:100%;
  padding:14px;
  border:none;
  border-radius:15px;
  outline:none;
  font-size:15px;
}

select{
  background:#1a1a1a;
  color:white;
}

button{
  margin-top:20px;
  background:linear-gradient(90deg,#00ffd5,#00aaff);
  color:black;
  font-weight:700;
  cursor:pointer;
}

.result{
  margin-top:25px;
  background:#0d0d0d;
  border-radius:20px;
  padding:18px;
  display:none;
  border:1px solid #00ffd533;
}

.result h2{
  text-align:center;
  margin-bottom:15px;
  color:#00ffd5;
}

.item{
  display:flex;
  justify-content:space-between;
  padding:10px 0;
  border-bottom:1px solid #222;
}

.footer{
  text-align:center;
  margin-top:30px;
  color:#666;
  font-size:12px;
}
